body{
    margin: 0 auto;
    background-image: url("/assets/images/webb-dark.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
}

.headingAlign{
    margin: 0 auto;
    width: 960px;
}

header{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background: #ffffff;
    color: #777777;
    height: 100px;
    width: 100%;
    border-bottom: 3px solid #777777;

}

nav{
    color: #777777;
    margin: 10px;
    padding: 20px;
    position: relative;
    z-index: 2;
    float: right;
    text-align: right;
    overflow: hidden;
    
}

h1{
  background: #ffffff;
  margin: 0px; 
  

}

h2{
    background: teal;
    color: #eeeeee;
    width: 19%;
    height: 40px;
    position: relative;
    float: left;
    padding: 30px;
    bottom: 20px;
    z-index: 2;


}

footer{
    margin-top: 35px;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    padding-top: 45px;
    clear: both;
    font-size: 12px;
}